<style>
    .bg-soft-blue {
        background-color: #e3f2fd;
    }
    .bg-soft-green {
        background-color: #e8f5e9;
    }
    .bg-soft-yellow {
        background-color: #fffde7;
    }
    .bg-soft-red {
        background-color: #ffebee;
    }
    .text-soft-blue {
        color: #1e88e5;
    }
    .text-soft-green {
        color: #43a047;
    }
    .text-soft-yellow {
        color: #fdd835;
    }
    .card-body {
        height: 400px; /* Set a fixed height */
        overflow-y: auto; /* Enable vertical scrolling */
    }
</style>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card bg-soft-green">
                <div class="card-body d-flex flex-column justify-content-center align-items-center" style="height: 200px;">
                    <h1 class="display-1 text-soft-green"><%= users.count %></h1>
                    <p class="h4 text-soft-green">Active Users</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-soft-blue">
                <div class="card-header text-soft-blue">
                    User's account source (<%= users.count %>)
                </div>
                <div class="card-body">
                    <%= pie_chart User.group(:account_source).count, colors: ["#b00", "#666"] %>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-soft-yellow">
                <div class="card-header text-soft-blue">
                    Users sign up rate
                </div>
                <div class="card-body">
                    <%= line_chart users.group_by_day(:created_at, range: 1.month.ago..Date.today).count %>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-soft-red">
                <div class="card-header text-soft-blue">
                    Events rate
                </div>
                <div class="card-body">
                    <%= column_chart events.group_by_day(:created_at, range: 1.week.ago..Date.today).count %>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-soft-green">
                <div class="card-header text-soft-blue">
                    Users list (<%= users.count %>)
                </div>
                <div class="card-body">
                    <% users.each do |u| %>
                        <p><%= u.phone_number %> (since <%= u.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %I:%M %p") %>) </p>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-soft-green">
                <div class="card-header text-soft-green">
                    Latest Events (<%= events.count %>)
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <% events.reverse_each do |e| %>
                            <p><%= e.user_phone_number %> - <%= e.reminder_type %> - <%= e.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %I:%M %p") %></p>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-soft-yellow">
                <div class="card-header text-soft-yellow">
                    Active Reminders
                </div>
                <div class="card-body">
                    <div style="height: 400px; background-color: #f1f8e9;">
                        <% events.each do |e| %>
                            <%  if e.run_at.to_datetime > Time.current %>
                                <p><%= e.user_phone_number %> - <%= e.reminder_type %> - <%= e.run_at.to_datetime.in_time_zone('Eastern Time (US & Canada)').in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %I:%M %p") if e.run_at.present? %></p>
                            <% end %> 
                        <% end %> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-soft-blue">
                <div class="card-header text-soft-blue">
                    Notifications
                </div>
                <div class="card-body">
                    <p class="text-soft-blue">No new notifications</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card bg-soft-yellow">
                <div class="card-header text-soft-yellow">
                    Event Map
                </div>
                <div class="card-body">
                    <div id="map" style="height: 400px; background-color: #f1f8e9;"></div>
                </div>
            </div>
        </div>
    </div>
</div>